<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="Biupiu R&D OS"
        android:theme="@android:style/Theme.Material.Light.NoActionBar"
        android:networkSecurityConfig="@xml/network_security_config"
        android:usesCleartextTraffic="false"
        android:allowBackup="false">
        <activity android:name=".MainActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainHubActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="biupiu" android:host="department" />
            </intent-filter>
        </activity>
        <activity android:name=".SmartFarmingActivity" android:exported="false" />
        <activity android:name=".SmartMetallurgyActivity" android:exported="false" />
        <activity android:name=".RndOsActivity" android:exported="false" />
        <activity android:name=".RenderPipelineActivity" android:exported="false" />
    </application>
</manifest>
